p
{
    font-family:'Times New Roman',Time,serif;
    color:brown;
}

h3
{
    color:red;
}

.external
{
    color:blueviolet;
    background-color: aqua;
}

.external h3
{
    color:antiquewhite;
}

#Change
{
    color:aliceblue;
}

.position
{
    margin-left: 50px;
    margin-top: 5%;
    border:2px solid black;
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}