p{
    color: rgb(218, 215, 250);
}

.external{
    color:aquamarine;
    background-color:rgb(43, 226, 58);
}

#change{
    color:brown;
}

.position{
    margin-left:200px;
    margin-top: 5%;
    border-style: inset;
    padding-left: 2%;
    padding-bottom: 2%;
}